# Retail Forecasting Project

### Data Preparation

In [1]:
import pandas as pd
import datetime as dt

In [2]:
retailDF = pd.read_csv('ForecastingCaseStudy.csv')
retailDF

,Product,date,Sales,Price Discount (%),In-Store Promo,Catalogue Promo,Store End Promo,Google_Mobility,Covid_Flag,V_DAY,EASTER,CHRISTMAS
0,SKU1,2/5/2017,27750,0%,0,0,0,0.00,0,0,0,0
1,SKU1,2/12/2017,29023,0%,1,0,1,0.00,0,1,0,0
2,SKU1,2/19/2017,45630,17%,0,0,0,0.00,0,0,0,0
3,SKU1,2/26/2017,26789,0%,1,0,1,0.00,0,0,0,0
4,SKU1,3/5/2017,41999,17%,0,0,0,0.00,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1213,SKU6,10/18/2020,96619,54%,0,1,0,-7.56,1,0,0,0
1214,SKU6,10/25/2020,115798,52%,0,1,0,-8.39,1,0,0,0
1215,SKU6,11/1/2020,152186,54%,1,0,1,-7.43,1,0,0,0
1216,SKU6,11/8/2020,26445,44%,1,0,1,-5.95,1,0,0,0
1217,SKU6,11/15/2020,26414,44%,0,0,0,-7.20,1,0,0,0

In [7]:
retailDF.rename(columns = {'V_DAY': 'Valentines Day', 'EASTER': 'Easter', 'CHRISTMAS': 'Christmas'}, inplace = True)
retailDF

,Product,date,Sales,Price Discount (%),In-Store Promo,Catalogue Promo,Store End Promo,Google_Mobility,Covid_Flag,Valentines Day,Easter,Christmas,Year,Week
0,SKU1,2/5/2017,27750,0%,0,0,0,0.00,0,0,0,0,2017,5
1,SKU1,2/12/2017,29023,0%,1,0,1,0.00,0,1,0,0,2017,6
2,SKU1,2/19/2017,45630,17%,0,0,0,0.00,0,0,0,0,2017,7
3,SKU1,2/26/2017,26789,0%,1,0,1,0.00,0,0,0,0,2017,8
4,SKU1,3/5/2017,41999,17%,0,0,0,0.00,0,0,0,0,2017,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1213,SKU6,10/18/2020,96619,54%,0,1,0,-7.56,1,0,0,0,2020,42
1214,SKU6,10/25/2020,115798,52%,0,1,0,-8.39,1,0,0,0,2020,43
1215,SKU6,11/1/2020,152186,54%,1,0,1,-7.43,1,0,0,0,2020,44
1216,SKU6,11/8/2020,26445,44%,1,0,1,-5.95,1,0,0,0,2020,45
1217,SKU6,11/15/2020,26414,44%,0,0,0,-7.20,1,0,0,0,2020,46

In [8]:
yearCollector = []
weekCollector = []
for date in retailDF['date']:
    yearCollector.append(dt.date(int(date.split('/')[2]), 
                                     int(date.split('/')[0]), 
                                     int(date.split('/')[1])).isocalendar().year)
    weekCollector.append(dt.date(int(date.split('/')[2]), 
                                     int(date.split('/')[0]), 
                                     int(date.split('/')[1])).isocalendar().week)

In [9]:
retailDF['Year'] = yearCollector
retailDF['Week'] = weekCollector
retailDF

,Product,date,Sales,Price Discount (%),In-Store Promo,Catalogue Promo,Store End Promo,Google_Mobility,Covid_Flag,Valentines Day,Easter,Christmas,Year,Week
0,SKU1,2/5/2017,27750,0%,0,0,0,0.00,0,0,0,0,2017,5
1,SKU1,2/12/2017,29023,0%,1,0,1,0.00,0,1,0,0,2017,6
2,SKU1,2/19/2017,45630,17%,0,0,0,0.00,0,0,0,0,2017,7
3,SKU1,2/26/2017,26789,0%,1,0,1,0.00,0,0,0,0,2017,8
4,SKU1,3/5/2017,41999,17%,0,0,0,0.00,0,0,0,0,2017,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1213,SKU6,10/18/2020,96619,54%,0,1,0,-7.56,1,0,0,0,2020,42
1214,SKU6,10/25/2020,115798,52%,0,1,0,-8.39,1,0,0,0,2020,43
1215,SKU6,11/1/2020,152186,54%,1,0,1,-7.43,1,0,0,0,2020,44
1216,SKU6,11/8/2020,26445,44%,1,0,1,-5.95,1,0,0,0,2020,45
1217,SKU6,11/15/2020,26414,44%,0,0,0,-7.20,1,0,0,0,2020,46

In [25]:
retailDF['Price Discount (%)'] = retailDF['Price Discount (%)'].map(lambda x: x.rstrip('%'))
retailDF = retailDF.drop(columns = ['date'])
retailDF

,Product,Sales,Price Discount (%),In-Store Promo,Catalogue Promo,Store End Promo,Google_Mobility,Covid_Flag,Valentines Day,Easter,Christmas,Year,Week
0,SKU1,27750,0,0,0,0,0.00,0,0,0,0,2017,5
1,SKU1,29023,0,1,0,1,0.00,0,1,0,0,2017,6
2,SKU1,45630,17,0,0,0,0.00,0,0,0,0,2017,7
3,SKU1,26789,0,1,0,1,0.00,0,0,0,0,2017,8
4,SKU1,41999,17,0,0,0,0.00,0,0,0,0,2017,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1213,SKU6,96619,54,0,1,0,-7.56,1,0,0,0,2020,42
1214,SKU6,115798,52,0,1,0,-8.39,1,0,0,0,2020,43
1215,SKU6,152186,54,1,0,1,-7.43,1,0,0,0,2020,44
1216,SKU6,26445,44,1,0,1,-5.95,1,0,0,0,2020,45
1217,SKU6,26414,44,0,0,0,-7.20,1,0,0,0,2020,46